.App {
  font-family: 'Poppins', sans-serif;
}
.whiteTextPagination li .MuiPaginationItem-root,
.whiteTextPagination li button{
  color: #fff;
}
/* .whiteTextPagination li button span {
  background: #555999;
} */